a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.fleft {
  float: left;
}
.fright {
  float: right;
}

.btn-block {
  width: 100% !important;
}

.price .points {
  color: rgb(255, 180, 0);
}